.grid {
    border: 1px solid mediumseagreen;
    padding: 1rem;
    min-height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
    "Elem1 Elem2 Elem2" 
    "Elem3 Elem3 Elem4" 
    "Elem5 Elem6 Elem4";
    justify-items: stretch;
    align-items: stretch;
    justify-content: space-around;
    align-content: space-between;
    column-gap: 20px;
    row-gap: 10px;
    height: 100%;
    width: 100%;
   }
.grid__hijo {
    /* border: 2px solid blue;  */
    /* padding: 1rem; */
    /* color: beige; */
    text-align: center;
}
.grid__imagen {
    height: 196px;
    width: 100%;
    object-fit: cover;
}
.grid__hijo1 {
    grid-area: Elem1;
    /* background-color: yellow; */
    background-image: url(../imagenes/20211003_143709.jpg);
    /* background: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.grid__hijo2 {
    background-image: url(../imagenes/20211003_143913.jpg);
    /* background: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: Elem2;
    background-color: aqua;
}
.grid__hijo3 {
    background-image: url(../imagenes/20211203_211039.jpg);
    /* background: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: Elem3;
    background-color: red;
}
.grid__hijo4 {
    background-image: url(../imagenes/20220411_185549.jpg);
    /* background: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: Elem4;
    background-color: maroon;
    /* height: 14rem; */
    
}
.grid__hijo5 {
    background-image: url(../imagenes/20220415_145804.jpg);
    /* background: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: Elem5;
    background-color: blueviolet;
    height: 14rem;
    
}
.grid__hijo6 {
    background-image: url(../imagenes/20220415_145804.jpg);
    /* background: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: Elem6;
    background-color: brown;
    height: 14rem;
    
}
.grid__texto {
    position: absolute;
   bottom: 0;
   right: 0;
   color: blanchedalmond;
   padding: 0,5rem 1rem;
}