@media screen and (max-width: 1023px) {
    .whatzap {
        display: none;
    }
    .grid {
        border: none;
        margin: auto;
        padding: 10%;
        min-height: 5px;
        display: grid;
        grid-column: span 80%;
        grid-row: 1fr 1fr 1fr;
        gap: 5px;
    }
    .p {
        font-size: small;
        margin: auto;
    }
}